<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Exercise Tracker App</title>
  </head>

  <h2>Add a new session:</h2>
    <form action="/sessions/createSession" method="POST">
      <label>
        Session Type:
        <input
        type="text"
        placeholder="e.g boxing"
        name="sessionItemType"
      />
      </label>
      <label>
        Date & time:
        <input type="date" name="sessionItemDate" />
      </label>
      <label>
        HR average:
        <input type="number" placeholder="HR avg" name="sessionItemHR" />
      </label>
      <label>
        Calories:
        <input type="number" placeholder="Calories" name="sessionItemCals" />
      </label>
      <label>
        Duration (mins):
        <input type="text" placeholder="hh:mm" name="sessionItemDuration" />
      </label>
      
      <label>
        Notes:
        <input type="text" name="sessionItemNotes" />
      </label>
      <input type="submit" class="submit" />
    </form>

    <!--  ENTER TABLE HERE TO VIEW ALL SESSIONS  -->


    <!-- <ul>
      <% sessions.forEach( el => { %>
          <li class='sessionItem' data-id='<%=el._id%>'>
            <p><%=el.type%></p>
              <span class='del'> Delete </span>
          </li>
      <% }) %>    
      </ul> -->

      <% if (sessions) { %>
    <table class="sessions">
      <thead>
        <tr>
          <th>Type</th>
          <th>Date</th>
          <th>HR avg</th>
          <th>Calories</th>
          <th>Duration (mins)</th>
        </tr
      </thead>
      
      <tbody>
        <% sessions.forEach( el => { %>
          <tr>
            <td><a href="/sessions/<%= el._id %>"><%= el.type %></a></td>
            <td>%><%= moment(el.date).format('hh:mm a MMM DD YYYY') %></td>
            <td><%= el.hr %></td>
            <td><%= el.calories %></td>
            <td><%= el.duration %></td>
          </tr>
        
          
        </tr>
        
        <% }) %> 
      </tbody>
      
    </table>
    <% } %>
  </body>
</html>
