<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h2>All Sessions</h2>

    <% if (sessions) { %>
    <table class="sessions">
      <thead>
        <tr>
          <th>Type</th>
          <th>Date</th>
          <!-- <th>HR avg</th> -->
          <th>Calories</th>
          <!-- <th>Duration (mins)</th> -->
        </tr>
      </thead>

      <tbody>
        <% sessions.forEach( el => { %>
        <tr>
          <td><a href="/sessions/<%= el._id %>"><%= el.type %></a></td>
          <td>%><%= moment(el.date).format('DD MMM YYYY') %></td>
          <!-- <td><%= el.hr %></td> -->
          <td><%= el.calories %></td>
          <!-- <td><%= el.duration %></td> -->
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
    <p><a href="/session/addSession">add new session</a></p>
  </body>
</html>
