<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Session overview</h1>

    <table class="sessions">
      <thead>
        <tr>
          <th>Type</th>
          <th>Date</th>
          <th>HR avg</th>
          <th>Calories</th>
          <th>Duration (mins)</th>
          <th>Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= data.type %></td>
          <td><%= moment(data.date).format('DD MMM YYYY') %></td>
          <td><%= data.hr %></td>
          <td><%= data.calories %></td>
          <td><%= data.duration %></td>
          <td><%= data.notes %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
